<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>created by</h3>
        <p>himanshu chandrikapure</p>
        <p><a href="#" class="btn btn-grey" role="button">About</a></p>
      </div>
    </div>
  </div>
</div>