<div class="container">

	<footer class="footer">

		<small>

		Copyright © <a href="enter in a link here">legend</a>

		by <a href="enter in a link here">himanshu chandrikapure</a>

		</small>

	<nav >
 
		<ul>

		 <li align:"center" ><%= link_to "About", pages_about_path %></li>

		</ul>

	</nav>

	</footer> 

</div>